.results.students {
  .main {
    width: 100%;
  }

  .global-footer {
    display: block;
    background: $white;
  }
}

.results-affix-container {
  height: 40px;

  .h3 {
    margin: 0;
  }
}

.result-chart {
  .highcharts-color-0 {
    fill: $plum;
  }

  .republican {
    fill: $scarlet;
  }

  .democrat {
    fill: $navy;
  }

  .libertarian, .independent {
    fill: $gold;
  }

  .highcharts-axis-labels.highcharts-xaxis-labels {
    span {
      text-align: right !important;
      left: 10px !important;
      width: 90px !important;
      white-space: normal !important;
    }
  }

  .highcharts-data-label {
    span {
      font-size: 13px !important;
      padding: 3px 5px;
      background: $white-50;
    }
  }

  .highcharts-title {
    text-align: center !important;
  }

  .highcharts-subtitle {
    // left: 20px !important;
  }
}

.table-results {
  table {
    overflow: hidden;
    background: $white;
  }

  thead {
    th {
      text-align: center;
    }
  }

  th {
    border-color: $white !important;
  }

  td {
    border: 5px solid $white;
    background: $steel;

    &.winner {
      background: $plum;
    }

    small {
      float: right;
      font-weight: normal;
    }
  }

  .total {
    th, td {
      background: $pearl;
      border: none;
      border-top: 5px solid $white;
    }
  }

  .winner {
    color: $white;
    font-weight: bold;
    // border-width: 1px;
    border-color: $white !important;
  }

  .republican {
    background: lighten($scarlet-lighter, 20%);

    &.winner {
      background: $scarlet-darker;
    }
  }

  .democrat {
    background: lighten($navy-lighter, 20%);

    &.winner {
      background: $navy-darker;
    }
  }

  .libertarian, .independent {
    background: lighten($gold-lighter, 20%);

    &.winner {
      background: $gold-darker;
    }
  }

}
