.data-table {
  .google-visualization-table, .google-visualization-table-table {
    width: 100%;
  }

  .google-visualization-table-th {
    width: 25%;
    white-space: normal;
    vertical-align: bottom;
  }
}

.table-results {
  
}
